<app-informacion></app-informacion>
@if(servicioObtenido){
<app-vista-anuncio [derecho]="false"></app-vista-anuncio>
<app-vista-anuncio [derecho]="true"></app-vista-anuncio>
<div class="d-flex align-items-center justify-content-center">
  <div class="card m-3 shadow" style="width: 40%">
    <app-vista-servicio
      [vista_cliente]="true"
      [vista_individual]="true"
      [servicio]="servicio"
    ></app-vista-servicio>
  </div>
</div>
<app-form-cita-hijo [servicio]="servicio"></app-form-cita-hijo>
}
