<h5 class="card-title text-center mb-3">Empleados disponibles</h5>
<div class="input-group mb-3">
  <label class="input-group-text" for="inputGroupSelect01"
    >Seleccione un empleado</label
  >
  <select
    (change)="usuarioSeleccionado($event)"
    class="form-select"
    id="inputGroupSelect01"
    (click)="inputSelectTocado = true"
  >
    <option value="" disabled [selected]="!inputSelectTocado" hidden></option>
    @for(empleado of empleadosDisponibles; track empleado.dpi){
    <option value="{{ empleado.dpi }}">{{ empleado.nombre }}</option>
    }
  </select>
</div>

@if(mostrarInformacion){ @if(informacionObtenida){
<div class="row g-0">
  <div class="col-auto d-none d-lg-block">
    <app-imagen-perfil [dpi]="empleadoSeleccionado.dpi"></app-imagen-perfil>
  </div>
  <div class="col-md-8">
    <div class="card-body overflow-auto" style="max-height: 200px">
      <h5 class="card-title">{{ empleadoSeleccionado.nombre }}</h5>
      <p class="card-text">
        {{ empleadoSeleccionado.descripcion }}
      </p>
      <p class="card-text d-flex align-items-center">
        <small class="text-body-secondary">
          Numero de telefono: {{ empleadoSeleccionado.telefono }}
          <br />
          dpi: {{ empleadoSeleccionado.dpi }}
        </small>
      </p>
    </div>
  </div>
</div>
} @else {
<div class="row g-0">
  <div class="col-md-4">
    <img src="..." class="img-fluid rounded-start" alt="..." />
  </div>
  <div class="col-md-8">
    <div class="card-body overflow-auto" style="max-height: 200px">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
      <a
        class="btn btn-primary disabled placeholder col-6"
        aria-disabled="true"
      ></a>
    </div>
  </div>
</div>
} }
