<app-informacion></app-informacion>
@if(!informeCambio.getCambio()){
<app-form-empleado-ganancias
  [informeCambio]="informeCambio"
  [empleadoGananciasArreglo]="empleadoGananciasArreglo"
></app-form-empleado-ganancias>
} @else {
<div class="d-flex align-items-center justify-content-center">
  <app-boton-atras [informe]="informeCambio"></app-boton-atras>
  <h2 class="m-3">Reporte de ganancias por servicio</h2>
  <app-boton-importar-servicio-ganancias
    [informeCambio]="informeCambio"
  ></app-boton-importar-servicio-ganancias>
</div>
<br />
<app-intervalo-vista [informeCambio]="informeCambio"></app-intervalo-vista>
@if(informeCambio.esCampoValido()){
<h5 class="text-center">
  Filtrado por el empleado: {{ informeCambio.getCampo() }}
</h5>
}
<div class="d-flex align-items-center justify-content-center">
  <div class="card w-50 m-3 shadow">
    <div class="card-body custom-card">
      @for(empleado of empleadoGananciasArreglo; track $index){
      <app-tabla-empleado-informe
        [empleado]="empleado"
      ></app-tabla-empleado-informe>
      } @empty {
      <div class="alert alert-warning w-100" role="alert">
        Sin registro de citas atendidas
      </div>
      }
    </div>
  </div>
</div>
}
