<app-informacion [informacion]="informacion"></app-informacion>
<div class="d-flex align-items-center justify-content-center">

  <div class="card w-25 m-3 shadow">
    <div class="card-body custom-card">
        <h5 class="card-title text-center mb-3">Iniciar sesion</h5>
      <form class="needs-validation" novalidate [formGroup]='loginForm' (submit)="enviar()">
        
        <div class="position-relative"
            [ngClass]="{'mb-5' : (faltaEmail() || esEmailInvalido()),
            'mb-3' : !(faltaEmail() || esEmailInvalido())
          }"
          >
          <label for="validationTooltip01" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="validationTooltip01"
            formControlName="correo"
            [ngClass]="{'is-invalid' : (faltaEmail() || esEmailInvalido()),
                'is-valid' : esEmailValido()
             }"
            required
            />
          <div class="invalid-tooltip">
            @if(faltaEmail()) {
                Ingrese su email 
            }
            @if(esEmailInvalido()) {
                Ingrese un email valido
            }
          </div>
        </div>

        <div class="position-relative"
            [ngClass]="{'mb-5' : faltaPassword(),
                'mb-3' : !(faltaPassword())
              }"
          >
            <label for="validationTooltip02" class="form-label">Contraseña</label>
            <input
              type="password"
              class="form-control"
              [ngClass]="{'is-invalid' : faltaPassword(),
                'is-valid' : esPasswordValido()
              }"
              id="validationTooltip02"
              formControlName="contraseña"
              required
              />
            <div class="invalid-tooltip">Ingrese su contraseña</div>
        </div>

        <div class="mb-3 d-flex justify-content-center">
          <button class="custom-button" type="submit">Iniciar sesion</button>
        </div>
        <div class="mb-3 d-flex justify-content-center">
            <a class="icon-link" routerLink="/registro">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill-add" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0m-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path d="M2 13c0 1 1 1 1 1h5.256A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1 1.544-3.393Q8.844 9.002 8 9c-5 0-6 3-6 4"/>
                  </svg>
                registrarse
            </a>
        </div>
      </form>
    </div>
  </div>
</div>
