<app-informacion></app-informacion>
@if(!informeCambio.getCambio()){
<app-form-servicios-reservados
  [serviciosMasReservados]="serviciosMasReservados"
  [datos]="reporte"
  [informeCambio]="informeCambio"
></app-form-servicios-reservados>
} @else {
<div class="d-flex align-items-center justify-content-center">
  <app-boton-atras [informe]="informeCambio"></app-boton-atras>
  <h2 class="m-3">
    @if(serviciosMasReservados){ Reporte de los 5 servicios mas reservados }
    @else { Reporte de los 5 servicios menos reservados }
  </h2>
  <app-boton-importar-reservaciones
    [informeCambio]="informeCambio"
    [serviciosMasReservados]="serviciosMasReservados"
  ></app-boton-importar-reservaciones>
</div>
<br />
<app-intervalo-vista [informeCambio]="informeCambio"></app-intervalo-vista>
<div class="d-flex align-items-center justify-content-center">
  <div class="card w-75 m-3 shadow">
    <div class="card-body custom-card">
      @for(dato of reporte; track $index){
      <app-tabla-servicios [reporte]="dato"></app-tabla-servicios>
      } @empty {
      <div class="alert alert-warning w-100" role="alert">
        Sin reservaciones registradas
      </div>
      }
    </div>
  </div>
</div>
}
