/* You can add global styles to this file, and also import other style files */
// Define custom color variables
$black-olive: #30362f;
$field-drab: #625834;
$satin-sheen-gold: #a59132;
$light-yellow: #fffbdb;
$cocoa-brown: #da7422;
$soft-beige: #f1e6d7;

// Font styles for span
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Lobster&family=Dancing+Script:wght@400;700&display=swap');

body {
    background-color: $soft-beige; /* Usa el color suave beige para el fondo */
    font-family: 'Playfair Display', serif, Arial, sans-serif; /* Fuente recomendada para darle un toque limpio */
}


.elegant-span {
    font-family: 'Playfair Display', serif;
}

.creative-span {
    font-family: 'Lobster', cursive;
}

.fluid-span {
    font-family: 'Dancing Script', cursive;
}

// Header styles
.custom-header {
    background-color: $black-olive;
    color: $light-yellow;
    a {
        color: $light-yellow;
        text-decoration: none;

        &:hover {
            color: $cocoa-brown;
        }
    }

    p, span, h1, h2, h3, h4, h5, h6 {
        color: $light-yellow;
    }
}

// Dropdown menu styles
.custom-dropdown {
    background-color: $field-drab;

    .dropdown-item {
        color: $light-yellow;
        text-decoration: none;

        &:hover {
            background-color: $cocoa-brown;
            color: $black-olive;
        }
    }

    .dropdown-divider {
        border-color: $satin-sheen-gold;
    }
}

// Card styles
.custom-card {
    background-color: $light-yellow;
    border: 1px solid $satin-sheen-gold;
    color: $black-olive;
}

// Button styles
.custom-button {
    background-color: $cocoa-brown;
    color: $light-yellow;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken($cocoa-brown, 10%);
    }
}

.custom-alert {
    background-color: $light-yellow;
    color: $black-olive;
    border: 1px solid $cocoa-brown;
  }
  